*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color--fondo:#49BAFF;
    --color--titulo:#0F4AA9;
    --color--parrafo1:#005FA7;
    --color--parrafo--button:#FFFFFF;
    --color--fondo--button:#1F97FF;
    --color--fondo--menu:#015FF4;
    --color--nuevo--fondo--menu:#DFF0FF;
    --color--fondo--main:#2B88DA;
    --color--fondo--main--sobre_nosotros:#015FF4;
}
.header{
    background-color: var(--color--nuevo--fondo--menu);
    opacity: 77%;
    display: flex;
    justify-content: space-between;
}
.header__div--img{
    width: 100px;
}
.header__div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__div--parrafo{
    color: black;
}
/* De la linea 14 a la linea 28 es la parte de la imagen y el titulo "SERA" */
.header__div--links{
    display: flex;
    align-items: center;
}

.header__div--ul--links{
    display: flex;
    list-style: none;
}
.header__div--li--links{
    margin: 10px;
}
.links{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
/* De la linea 31 a 47 es la parte del link */
.header__div--buttoon{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header__div--buttoon1{
    color: var(--color--parrafo--button);
    border:1px solid var(--color--parrafo1);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: var(--color--fondo--button);
}
.main{
    background: var(--color--fondo--main);
    height: 805px;
}

.main__img1{
    display: block;
    position: absolute;
    z-index: 1;

}
.main__img2{
    display: block;
    position: absolute;
    z-index: 1;
    left: 1276px;
}
.main__section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__section--article--inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.main__Section--titulo{
    color: black;
    font-size: 34px;
}
.main__section--parrafo{
    color: black;
    text-align: center;
}
.main__section--button{
    color: black;
    border:1px solid var(--color--parrafo1);
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: var(--color--fondo--button);
}
.z-index{
    z-index: 1;
}
.main__section--img{
    width: 300px;
    height: 250px;
}
/*  */
.main__nosotros{
    height: 800px;
    background: var(--color--fondo--main--sobre_nosotros);
}
.main__nosotros--imgs{
    width: 100px;
}

.main__nosotros--img1{
    display: block;
    position: relative;
    left: 1198px;
    bottom: 3px;
}
.main__nosotros--img2{
    display: block;
    position: relative;
    top: 433px;
}
.main__nosotros--titulo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.main__nosotros--article--h1{
    font-size: 48px;
    color: black;
}
.main__nosotros--contenido{
    display: flex;
}
.main__nosotros--contenido--img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img{
    width: 300px;
    height: 200px;
}
.main__nosotros--contenido--article{
    display: flex;
}
.p{
    padding: 30px;
    font-size: 24px;
}
/*  */
.main__infom{
    background-color: blue;
    height: 100vh;

}
.main__section--infom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.main__section--infom--article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main__section--infom--titulo{
    color: black;
    font-size: 35px;
}
.main__section--infom--parrafo{
    color: black;
    font-size: 20px;
    text-align: center;
}
.main__section--infom--main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    /* margin-top: 130px; */
}
.main__section--infom--block1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.main__section--infom--block--colum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 372px;
    margin: 10px;
    border-radius: 10px;
    background-color: #9EDAFF;
}
.main__section--infom--bloc--titulo{
    font-size: 30px;
    text-align: center;
    color: black;
}
.main__section--infom--block--img{
    width: 100px;
    height: 50px;
}
.main__section--infom--bloc--parrafo{
    text-align: center;
    color: black;
}
.main__section--buttoon1{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
}
.main__infom--img1{
    display: block;
    position: relative;
    bottom: 483px;
    right: 600px;
    
}
.main__infom--img2{
    display: block;
    position: relative;
}

/*  */
.footer{
    display: flex;
    background-color: black;
    height:70px;
    justify-content:center;
    align-items: center;
}
.footer__section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer__section--article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.footer__main--color{
    color: var(--color--parrafo--button);
    margin: 0 20px;
}