/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --color--fondo--header: #015FF4;
    --color--fondo--main: #49BAFF;
    --color--titulo: #FFFF;
    --color--titulo--main: #0F4AA9;
    --color--parrafo--main: #0F4AA9;
    --color--fondo--button: #1F97FF;
    --color--titulo--label: #02508A;
  }
/* Estilos generales del encabezado */
.header {
  background: var(--color--fondo--header);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Contenedor para el logo y el título */
.header__div {
  display: flex;
  align-items: center;
}

/* Imagen del logo */
.header__div--img {
  width: 60px;
  height: 60px;
}

/* Título del encabezado */
.header__div--parrafo {
  color: var(--color--titulo);
  font-size: 24px;
  margin-left: 10px;
}

/* Contenedor de los enlaces */
.header__div--links {
  display: flex;
  align-items: center;
}

/* Lista de enlaces */
.header__div--ul--links {
  list-style: none;
  display: flex;
  gap: 20px;
}

/* Elementos de la lista de enlaces */
.header__div--li--links {
  margin: 0;
}

/* Enlaces */
.header__div--li--links .links {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}


/* Botón de inicio de sesión */
.header__div--buttoon {
  display: flex;
  align-items: center;
}

.header__div--buttoon1 {
  background: var(--color--fondo--button);
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition:  0.3s;
}

.header__div--buttoon1:hover {
  background: #1A8CFF; /* Cambia el color al pasar el mouse sobre el botón */
}

.header__div--buttoon1 a {
  color: #FFFFFF;
  text-decoration: none;
}
.main__section--img{
  display: block;
}

  /* Dropdown styles */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .imagen_dropdown{
    width: 260px;
    height: 150px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #B6DFFF;
    min-width: 250px;
    min-height: 885px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20px;
  }
  .dropdown-content a {
    color: black;
    padding: 12px ;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
    margin: 10px;
  }
  .dropdown-content a:hover {
    background-color: #ffff;
    border-radius: 20px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu--left{
    height: calc(100vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
  }
  /*  */
  .main {
    background: var(--color--fondo--main);
    height: 885px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main__section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__section--article {
    border-radius: 20px;
    width: 349px;
    height: 380px;
    padding: 5px;
    margin: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #DFF0FF;
  }
  .main__section--article--inicio{
    color: #FFFF;
  }
  .main__section--button{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #ffff;
    background-color: var(--color--fondo--button);
  }
  .main__section--article--titulo {
    color: var(--color--parrafo--main);
    text-align: center;
    font-size: 40px;
    padding: 10px;
  }
  .main__section--article--parrafo {
    color: var(--color--parrafo--main);
    text-align: center;
  }
  .main__formu--button1 {
    border-radius: 30px;
    border: none;
    background: var(--color--fondo--button);
    width: 300px;
    height: 30px;
    color: #FFFF;
  }
  .img{
    width: 150px;
    height: 140px;
  }
/*  */
.main__nosotros{
  background: var(--color--fondo--header);
  height: 885px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__nosotros--contenido{
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  align-items: center;
}
.img{
  width: 300px;
  height: 300px;
}
.main__nosotros--article--h1{
  font-size: 35px;
  color: #FFFF;
}
.main__nosotros--contenido--article{
  color: #FFFF;
}
/*  */
.main__infom{
  height: 885px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__section--infom--article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__section--infom--block1{
  display: flex;
  gap: 20px;
}
.main__section--infom--block--colum{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #49BAFF;
  border: 1px solid black;
  width: 500px;
  height: 400px;
}
.footer{
  background-color: var(--color--parrafo--main);
}
.footer__section--article{
color: #FFFF;
}
.footer__section--article{
display: flex;
justify-content: space-evenly;
align-items: center;
height: 50px;
}